# Hands-On

Você foi designado para realizar a limpeza e preparação de dados de dois conjuntos de dados (base1.csv e base2.csv) distintos que representam informações relacionadas a risco de crédito.

Seu objetivo é ler os dois conjuntos de dados usando a biblioteca Pandas, realizar a concatenação dos dados, lidar com valores duplicados e faltantes, além de verificar a presença de outliers nos dados combinados.

____

## Passos a serem seguidos:

1. **Leitura dos Arquivos:** Utilize a biblioteca Pandas para ler os dois arquivos de dados: 'base1.csv' e 'base2.csv', que estão no diretório datasets, no repositório do módulo.
2. **Concatenação dos Dados:** Concatene os dois conjuntos de dados em um único DataFrame, verificando se os dados possuem a mesma estrutura para uma concatenação adequada.
3. **Tratamento de Dados Duplicados:** Verifique se há linhas duplicadas no DataFrame combinado e remova-as, mantendo a primeira ocorrência.
4. **Tratamento de Valores Faltantes:** Identifique e lide com os valores faltantes no DataFrame combinado. Preencha os valores ausentes com estratégias apropriadas (média, mediana, valor específico etc.) dependendo do contexto dos dados.
5. **Verificação de Outliers:** Utilize métodos estatísticos ou gráficos (como boxplots) para identificar a presença de outliers nos dados. Considere se eles são significativos para a análise ou se precisam ser tratados de alguma forma.

In [0]:
'''Passo 1 Fazendo a leitura dos Arquivos'''

'Passo 1 Fazendo a leitura dos Arquivos'

In [0]:
import pandas as pd

In [0]:
base1 = pd.read_csv('/Workspace/Repos/lsetto@unimedcampinas.com.br/ADA_classes/DS-PY-Data-Science/DS-PY-004 TÉCNICAS DE PROGRAMAÇÃO I (PY)/Material do Aluno/datasets/base1.csv')

base2 = pd.read_csv('/Workspace/Repos/lsetto@unimedcampinas.com.br/ADA_classes/DS-PY-Data-Science/DS-PY-004 TÉCNICAS DE PROGRAMAÇÃO I (PY)/Material do Aluno/datasets/base2.csv')

In [0]:
base1

     Unnamed: 0.1  Unnamed: 0  Age  ... Duration              Purpose  Risk
0             104         104   26  ...       12                  car  good
1             360         360   61  ...       18            education  good
2             695         695   50  ...        6                  car  good
3             902         902   42  ...       36                  car  good
4             312         312   26  ...       24  furniture/equipment  good
..            ...         ...  ...  ...      ...                  ...   ...
665           456         456   36  ...       11                  car  good
666           623         623   22  ...       12  furniture/equipment  good
667           225         225   27  ...       36              repairs  good
668           874         874   29  ...       12  furniture/equipment  good
669           560         560   49  ...       24                  car  good

[670 rows x 12 columns]

In [0]:
base2

     Unnamed: 0.1  Unnamed: 0  Age  ... Duration              Purpose  Risk
0             674         674   41  ...       21             business   bad
1             983         983   26  ...       36                  car   bad
2              31          31   27  ...       24  furniture/equipment  good
3              50          50   29  ...       24  furniture/equipment  good
4             654         654   35  ...       24                  car  good
..            ...         ...  ...  ...      ...                  ...   ...
325           467         467   32  ...       48             radio/TV  good
326           829         829   38  ...       48             business  good
327           296         296   20  ...       12                  car  good
328           235         235   30  ...       24             radio/TV   bad
329           633         633   19  ...        9  furniture/equipment   bad

[330 rows x 12 columns]

In [0]:
'''Passo 2 Concatenação dos Dados'''

'Passo 2 Concatenação dos Dados'

In [0]:
#utilizei o ignore_index=True, para não importar duas vezes o indice
df = pd.concat([base1, base2], ignore_index=True)

df

     Unnamed: 0.1  Unnamed: 0  Age  ... Duration              Purpose  Risk
0             104         104   26  ...       12                  car  good
1             360         360   61  ...       18            education  good
2             695         695   50  ...        6                  car  good
3             902         902   42  ...       36                  car  good
4             312         312   26  ...       24  furniture/equipment  good
..            ...         ...  ...  ...      ...                  ...   ...
995           467         467   32  ...       48             radio/TV  good
996           829         829   38  ...       48             business  good
997           296         296   20  ...       12                  car  good
998           235         235   30  ...       24             radio/TV   bad
999           633         633   19  ...        9  furniture/equipment   bad

[1000 rows x 12 columns]

In [0]:
'''Passo 3 Tratamento de Dados Duplicados'''

'Passo 3 Tratamento de Dados Duplicados'

In [0]:
# criado a função que mostrou que não tem texto duplicados
df.loc[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, Age, Sex, Job, Housing, Saving accounts, Checking account, Credit amount, Duration, Purpose, Risk]
Index: []

In [0]:
# Caso tivesse, esse seria o código para remover dados duplicados

df.drop_duplicates()

     Unnamed: 0.1  Unnamed: 0  Age  ... Duration              Purpose  Risk
0             104         104   26  ...       12                  car  good
1             360         360   61  ...       18            education  good
2             695         695   50  ...        6                  car  good
3             902         902   42  ...       36                  car  good
4             312         312   26  ...       24  furniture/equipment  good
..            ...         ...  ...  ...      ...                  ...   ...
995           467         467   32  ...       48             radio/TV  good
996           829         829   38  ...       48             business  good
997           296         296   20  ...       12                  car  good
998           235         235   30  ...       24             radio/TV   bad
999           633         633   19  ...        9  furniture/equipment   bad

[1000 rows x 12 columns]

In [0]:
'''Passo 4 Tratamento de Valores Faltantes'''
#Neste passo vamos identificar os valores faltantes por coluna

'Passo 4 Tratamento de Valores Faltantes'

In [0]:
missing_values = df.isnull().sum()

In [0]:
# Essa função substitui os valores ausentes no DataFrame pela cadeia de caracteres "Texto não preenchido". O parâmetro inplace=True modifica o DataFrame no lugar.

df.fillna('Texto não preenchido', inplace=True)

In [0]:
"Passo 5 Verificação de Outliers"
# Verificação de outliers com boxplot
# Substitua 'coluna_numerica' pelo nome da coluna numérica que você quer analisar
import matplotlib.pyplot as plt

plt.boxplot(df['Texto não preenchido'])
plt.title('Boxplot da Coluna Texto não preenchido ')
plt.show()

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
File /databricks/python/lib/python3.10/site-packages/pandas/core/indexes/base.py:3629, in Index.get_loc(self, key, method, tolerance)
   3628 try:
-> 3629     return self._engine.get_loc(casted_key)
   3630 except KeyError as err:

File /databricks/python/lib/python3.10/site-packages/pandas/_libs/index.pyx:136, in pandas._libs.index.IndexEngine.get_loc()

File /databricks/python/lib/python3.10/site-packages/pandas/_libs/index.pyx:163, in pandas._libs.index.IndexEngine.get_loc()

File pandas/_libs/hashtable_class_helper.pxi:5198, in pandas._libs.hashtable.PyObjectHashTable.get_item()

File pandas/_libs/hashtable_class_helper.pxi:5206, in pandas._libs.hashtable.PyObjectHashTable.get_item()

KeyError: 'Texto não preenchido'

The above exception was the direct cause of the following exception:

KeyError                                  Traceback (most recent call last)
File <command-1238040269246484>, line 6
      2 # Verificação de outliers com boxplot
      3 # Substitua 'coluna_numerica' pelo nome da coluna numérica que você quer analisar
      4 import matplotlib.pyplot as plt
----> 6 plt.boxplot(df['Texto não preenchido'])
      7 plt.title('Boxplot da Coluna Texto não preenchido ')
      8 plt.show()

File /databricks/python/lib/python3.10/site-packages/pandas/core/frame.py:3505, in DataFrame.__getitem__(self, key)
   3503 if self.columns.nlevels > 1:
   3504     return self._getitem_multilevel(key)
-> 3505 indexer = self.columns.get_loc(key)
   3506 if is_integer(indexer):
   3507     indexer = [indexer]

File /databricks/python/lib/python3.10/site-packages/pandas/core/indexes/base.py:3631, in Index.get_loc(self, key, method, tolerance)
   3629     return self._engine.get_loc(casted_key)
   3630 except KeyError as err:
-> 3631     raise KeyError(key) from err
   3632 except TypeError:
   3633     # If we have a listlike key, _check_indexing_error will raise
   3634     #  InvalidIndexError. Otherwise we fall through and re-raise
   3635     #  the TypeError.
   3636     self._check_indexing_error(key)

KeyError: 'Texto não preenchido'